Flowserve-FCO/obj/Debug/Flowserve-FCO.pdb
Flowserve-FCO/obj/Debug/Flowserve-FCO.pdb
Flowserve-FCO/obj/Debug/Flowserve-FCO.csproj.FileListAbsolute.txt
Flowserve-FCO/bin/Flowserve-FCO.dll
Flowserve-FCO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Flowserve-FCO/obj/Debug/Flowserve-FCO.csprojResolveAssemblyReference.cache
Flowserve-FCO/obj/Debug/Flowserve-FCO.dll
Flowserve-FCO/bin/Flowserve-FCO.dll
Flowserve-FCO/bin/Flowserve-FCO.pdb